<!-- errors and infos -->
<f:for each="{validationResults.infos}" as="info">
	<div class="alert alert-success">
		<f:translate key="{prefix}.{info}" />
	</div>
</f:for>
<f:if condition="{validationResults.errors}">
	<script type="text/javascript" defer="defer">
		$(document).ready(function() {
		<f:for each="{validationResults.errors}" as="error">
			$('#{error.id}Label').addClass('error')
		</f:for>
		})
	</script>
	<f:for each="{validationResults.errors}" as="error" key="errorKey">
		<div class="alert alert-danger" data-key="{prefix}.{errorKey}">
			<f:translate key="{prefix}.{errorKey}" arguments="{error.arguments}"/>
		</div>
	</f:for>
</f:if>