DOCTYPE html PUBLIC "-//WC//DTD XHTML . Strict//EN" "http://www.w.org/TR/xhtml/DTD/xhtml-strict.dtd">
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true"
	xmlns="http://www.w.org//xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>

<body>
	<f:layout name="Default" />
	<f:section name="content">
		<f:render partial="validationResults"
			arguments="{prefix:'eventplaner', validationResults: validationResults}" />
		<f:variable name="errorsCount">{messages.errors -> f:count()}</f:variable>
		<f:if condition="{errorsCount} == 0">
			<f:then>
				<f:variable name="voteCount">0</f:variable>
				<h5>
					<f:translate key="eventplanner.registerEnd" /> : <f:format.date format="d.m.Y" date="{event.registerEnd}" />
				</h5>
				<f:if condition="{event.maxVotes} != 1">
					<h5>
						<f:translate key="eventplanner.maxVotes" /> : {event.maxVotes}
					</h5>
				</f:if>
				<f:format.html>{event.description}</f:format.html>
				<hr>

				<f:for each="{event.placeOfWork}" as="place">
					<ul class="list-group mb-4">
						<li class="list-group-item  d-flex justify-content-between align-items-center">
							<h3><strong>{place.name}</strong></h3>
							<span>
								<span class="badge bg-primary">
									<f:translate key="eventplanner.place.memberCount" /> : {place.members->f:count()}
								</span>
								<span class="badge bg-primary">
									<f:translate key="eventplanner.place.maxMembers" /> : {place.maxMembers}
								</span>
							</span>
						</li>
						<f:if condition="{event.displayNames}">
							<f:for each="{place.members}" as="member">
								<li class="list-group-item">
									<f:if condition="{member.firstName}">
										<f:then>
											{member.firstName} {member.lastName}
										</f:then>
										<f:else>
											{member.username}
										</f:else>
									</f:if>
								</li>
							</f:for>
						</f:if>
						<f:if
							condition="{registerActive} && ({userIsRegisteredIn.{place.uid}} !== {place.uid}) && ({place.members->f:count()} < {place.maxMembers}) && (({event.maxVotes} == 0) || ({event.maxVotes} > {userIsRegisteredIn->f:count()}))">
							<f:then>
								<li class="list-group-item">
									<f:form action="registerUser" controller="Event" name="placeOfWork"
										object="{place}">
										<f:form.button class="btn btn-outline-primary btn-lg btn-block mt-3"
											formmethod="post">
											<f:translate key="eventplanner.place.addMember" />
										</f:form.button>
									</f:form>
								</li>
							</f:then>
						</f:if>
						<f:if condition="{registerActive} && {userIsRegisteredIn.{place.uid}} === {place.uid}">
							<f:then>
								<li class="list-group-item">
									<f:form action="deregisterUser" controller="Event" name="placeOfWork"
										object="{place}">
										<f:form.button class="btn btn-lg btn-outline-primary btn-block mt-3"
											formmethod="post">
											<f:translate key="eventplanner.place.removeMember" />
										</f:form.button>
									</f:form>
								</li>
							</f:then>
						</f:if>
					</ul>
				</f:for>
			</f:then>
		</f:if>
	</f:section>
</body>

</html>